.elementor-28 .elementor-element.elementor-element-1e01b505 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-5f1cf04e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 10px 10px 10px;
}

.elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    text-transform: var(--e-global-typography-secondary-text-transform);
    line-height: var(--e-global-typography-secondary-line-height);
    color: #000;
    background-color: #eeeeee;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-accent);
    border-radius: 6px 6px 6px 6px;
    padding: 16px 19px 15px 19px;
}

.elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion.accoedion-primary .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"],
.elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-header>.elementskit-btn-link[aria-expanded=true],
.elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion.floating-style .elementskit-card .elementskit-btn-link[aria-expanded="true"] {
    background-color: #ffc94b;
    /* background-image: linear-gradient(89.96deg, var(--e-global-color-secondary) 20%, var(--e-global-color-0c2806d) 100%); */
}

.elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"] {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffc94b;
}

.elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-body p,
.elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-body {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    text-transform: var(--e-global-typography-text-text-transform);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-body {
    padding: 16px 16px 10px 16px;
    color: #000;
}

.elementor-28 .elementor-element.elementor-element-64f6000f .ekit_accordion_icon_group,
.elementor-28 .elementor-element.elementor-element-64f6000f .ekit_accordion_icon_left_group {
    margin: 0px 16px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-61a2da8e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 10px 0px 10px;
}

.elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    text-transform: var(--e-global-typography-secondary-text-transform);
    line-height: var(--e-global-typography-secondary-line-height);
    color: #000;
    background-color: #eeeeee;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-accent);
    border-radius: 6px 6px 6px 6px;
    padding: 16px 19px 15px 19px;
}

.elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion.accoedion-primary .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"],
.elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-header>.elementskit-btn-link[aria-expanded=true],
.elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion.floating-style .elementskit-card .elementskit-btn-link[aria-expanded="true"] {
    background-color: #ffc94b;
    /* background-image: linear-gradient(89.96deg, var(--e-global-color-secondary) 20%, var(--e-global-color-0c2806d) 100%); */
}

.elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"] {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffc94b;
}

.elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-body p,
.elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-body {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    text-transform: var(--e-global-typography-text-text-transform);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-body {
    padding: 16px 16px 10px 16px;
    color: #000;
}

.elementor-28 .elementor-element.elementor-element-39375b45 .ekit_accordion_icon_group,
.elementor-28 .elementor-element.elementor-element-39375b45 .ekit_accordion_icon_left_group {
    margin: 0px 16px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-body p,
    .elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-body {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-body p,
    .elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-body {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }
}

@media(max-width:767px) {
    .elementor-28 .elementor-element.elementor-element-5f1cf04e>.elementor-element-populated {
        padding: 0px 0px 10px 0px;
    }

    .elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-body p,
    .elementor-28 .elementor-element.elementor-element-64f6000f .elementskit-accordion .elementskit-card-body {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-28 .elementor-element.elementor-element-61a2da8e>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-body p,
    .elementor-28 .elementor-element.elementor-element-39375b45 .elementskit-accordion .elementskit-card-body {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }
}