.elementor-196 .elementor-element.elementor-element-5d9dbde {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 20px 0px;
    background-image: url(../../../images/Footer/FooterBG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.elementor-196 .elementor-element.elementor-element-1c71a03d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 15px 0px 15px;
}

.elementor-196 .elementor-element.elementor-element-7a691aff {
    text-align: center;
}

.elementor-196 .elementor-element.elementor-element-7a691aff>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: 0% 0% 0% 0%;
}

.elementor-196 .elementor-element.elementor-element-698a596f {
    text-align: center;
}

.elementor-196 .elementor-element.elementor-element-698a596f .elementor-heading-title {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    text-transform: var(--e-global-typography-text-text-transform);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-196 .elementor-element.elementor-element-698a596f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 16px 0px 40px 0px;
}

.elementor-196 .elementor-element.elementor-element-719b07d4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-196 .elementor-element.elementor-element-5f6c3850 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 32px 0px 0px 0px;
}

.elementor-196 .elementor-element.elementor-element-354252ac>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-196 .elementor-element.elementor-element-1c0df9db {
    text-align: left;
    padding-right: 8%;
}

.elementor-196 .elementor-element.elementor-element-1c0df9db img {
    border-radius: 0px 0px 0px 0px;
}

.elementor-196 .elementor-element.elementor-element-1c0df9db>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-196 .elementor-element.elementor-element-441ba238>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 5px 0px 5px;
}

.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(43px/2);
}

.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(43px/2);
}

.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(43px/2);
    margin-left: calc(43px/2);
}

.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-43px/2);
    margin-left: calc(-43px/2);
}

body.rtl .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-43px/2);
}

body:not(.rtl) .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-43px/2);
}

.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-196 .elementor-element.elementor-element-2caedc68 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-0d670eb-font-family), Sans-serif;
    font-size: var(--e-global-typography-0d670eb-font-size);
    font-weight: var(--e-global-typography-0d670eb-font-weight);
    text-transform: var(--e-global-typography-0d670eb-text-transform);
    line-height: var(--e-global-typography-0d670eb-line-height);
    letter-spacing: var(--e-global-typography-0d670eb-letter-spacing);
    word-spacing: var(--e-global-typography-0d670eb-word-spacing);
}

.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-secondary);
}

.elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-196 .elementor-element.elementor-element-4786e378 {
    text-align: center;
}

.elementor-196 .elementor-element.elementor-element-4786e378 .elementor-heading-title {
    color: #61557d;
    font-family: var(--e-global-typography-b4d3113-font-family), Sans-serif;
    font-size: var(--e-global-typography-b4d3113-font-size);
    font-weight: var(--e-global-typography-b4d3113-font-weight);
    text-transform: var(--e-global-typography-b4d3113-text-transform);
    line-height: var(--e-global-typography-b4d3113-line-height);
    letter-spacing: var(--e-global-typography-b4d3113-letter-spacing);
    word-spacing: var(--e-global-typography-b4d3113-word-spacing);
}

.elementor-196 .elementor-element.elementor-element-4786e378>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-196 .elementor-element.elementor-element-13f5ab50>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-196 .elementor-element.elementor-element-5b84ffde {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 9px;
    --grid-row-gap: 0px;
}

/* .elementor-196 .elementor-element.elementor-element-5b84ffde .elementor-widget-container {
    text-align: right;
} */

.elementor-196 .elementor-element.elementor-element-5b84ffde .elementor-social-icon {
    background-color: #FFFFFF0D;
    --icon-padding: 0.8em;
}

.elementor-196 .elementor-element.elementor-element-5b84ffde .elementor-icon {
    border-radius: 50px 50px 50px 50px;
}

.elementor-196 .elementor-element.elementor-element-5b84ffde .elementor-social-icon:hover {
    background-color: var(--e-global-color-secondary);
}

.elementor-196 .elementor-element.elementor-element-5b84ffde .elementor-social-icon:hover i {
    color: var(--e-global-color-text);
}

.elementor-196 .elementor-element.elementor-element-5b84ffde .elementor-social-icon:hover svg {
    fill: var(--e-global-color-text);
}

.elementor-196 .elementor-element.elementor-element-5b84ffde>.elementor-widget-container {
    margin: 0px -5px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top.scroll-and-show.from-bottom .inner-scroll-top {
    bottom: -60px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top.scroll-and-show.from-bottom.show .inner-scroll-top {
    bottom: 60px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top.scroll-and-show.from-horizontal .inner-scroll-top {
    bottom: 60px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top.scroll-and-show.scroll-top-position-right.from-bottom .inner-scroll-top {
    right: 15px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top.scroll-and-show.scroll-top-position-left.from-bottom .inner-scroll-top {
    left: 15px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top.scroll-and-show.scroll-top-position-right.from-horizontal .inner-scroll-top {
    right: -15px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top.scroll-and-show.scroll-top-position-left.from-horizontal .inner-scroll-top {
    left: -15px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top.scroll-and-show.scroll-top-position-right.from-horizontal.show .inner-scroll-top {
    right: 15px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top.scroll-and-show.scroll-top-position-left.from-horizontal.show .inner-scroll-top {
    left: 15px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top .inner-scroll-top {
    width: 55px;
    height: 55px;
    color: #000;
    background-color: #fff;
    border-radius: 50px 50px 50px 50px;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top .inner-scroll-top .icon-scroll-top svg {
    fill: #FFFFFF;
    width: 15px;
    height: auto;
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top .inner-scroll-top:hover {
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-text);
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top .inner-scroll-top:hover .icon-scroll-top svg {
    fill: var(--e-global-color-secondary);
}

.elementor-196 .elementor-element.elementor-element-5e8ff91d #tf-scroll-top .icon-scroll-top {
    font-size: 15px;
}

@media(max-width:1024px) {
    .elementor-196 .elementor-element.elementor-element-5d9dbde {
        padding: 0px 0px 10px 0px;
    }

    .elementor-196 .elementor-element.elementor-element-698a596f .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-196 .elementor-element.elementor-element-698a596f>.elementor-widget-container {
        padding: 10px 0px 25px 0px;
    }

    .elementor-196 .elementor-element.elementor-element-5f6c3850 {
        padding: 15px 0px 0px 0px;
    }

    .elementor-196 .elementor-element.elementor-element-441ba238>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(15px/2);
    }

    .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(15px/2);
    }

    .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(15px/2);
        margin-left: calc(15px/2);
    }

    .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-15px/2);
        margin-left: calc(-15px/2);
    }

    body.rtl .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-15px/2);
    }

    body:not(.rtl) .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-15px/2);
    }

    .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-0d670eb-font-size);
        line-height: var(--e-global-typography-0d670eb-line-height);
        letter-spacing: var(--e-global-typography-0d670eb-letter-spacing);
        word-spacing: var(--e-global-typography-0d670eb-word-spacing);
    }

    .elementor-196 .elementor-element.elementor-element-4786e378 {
        text-align: left;
    }

    .elementor-196 .elementor-element.elementor-element-4786e378 .elementor-heading-title {
        font-size: var(--e-global-typography-b4d3113-font-size);
        line-height: var(--e-global-typography-b4d3113-line-height);
        letter-spacing: var(--e-global-typography-b4d3113-letter-spacing);
        word-spacing: var(--e-global-typography-b4d3113-word-spacing);
        text-align: center;
    }

    .elementor-196 .elementor-element.elementor-element-4786e378>.elementor-widget-container {
        padding: 5px 0px 0px 0px;
    }

    .elementor-196 .elementor-element.elementor-element-13f5ab50>.elementor-element-populated {
        margin: 15px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-196 .elementor-element.elementor-element-5b84ffde .elementor-widget-container {
        text-align: center;
    }

    .elementor-196 .elementor-element.elementor-element-5b84ffde>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-196 .elementor-element.elementor-element-7a691aff>.elementor-widget-container {
        padding: 0% 0% 0% 0%;
    }

    .elementor-196 .elementor-element.elementor-element-698a596f .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-196 .elementor-element.elementor-element-5f6c3850 {
        padding: 20px 0px 0px 0px;
    }

    /* .elementor-196 .elementor-element.elementor-element-1c0df9db {
        text-align: center;
    } */

    .elementor-196 .elementor-element.elementor-element-441ba238>.elementor-element-populated {
        margin: 15px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-196 .elementor-element.elementor-element-2caedc68 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-0d670eb-font-size);
        line-height: var(--e-global-typography-0d670eb-line-height);
        letter-spacing: var(--e-global-typography-0d670eb-letter-spacing);
        word-spacing: var(--e-global-typography-0d670eb-word-spacing);
    }

    .elementor-196 .elementor-element.elementor-element-4786e378 .elementor-heading-title {
        font-size: var(--e-global-typography-b4d3113-font-size);
        line-height: var(--e-global-typography-b4d3113-line-height);
        letter-spacing: var(--e-global-typography-b4d3113-letter-spacing);
        word-spacing: var(--e-global-typography-b4d3113-word-spacing);
    }

    .elementor-196 .elementor-element.elementor-element-5b84ffde .elementor-widget-container {
        text-align: center;
    }

    .elementor-196 .elementor-element.elementor-element-5b84ffde>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-196 .elementor-element.elementor-element-354252ac {
        width: 50%;
    }

    .elementor-196 .elementor-element.elementor-element-441ba238 {
        width: 100%;
    }

    .elementor-196 .elementor-element.elementor-element-13f5ab50 {
        width: 50%;
        padding: 20px 6% 0px 6%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-196 .elementor-element.elementor-element-354252ac {
        width: 50%;
    }

    .elementor-196 .elementor-element.elementor-element-441ba238 {
        width: 100%;
    }

    .elementor-196 .elementor-element.elementor-element-13f5ab50 {
        width: 50%;
    }
}